:root{
    --bg-table: rgb(223, 221, 231);
    --bg-caption: rgb(165, 141, 196);
    --bg-group: rgb(184, 171, 201);
}
[data-theme="dark"]{
    --bg-table: rgb(125, 111, 150);
    --bg-caption: rgb(66, 51, 88);
    --bg-group: rgb(77, 55, 97)    
}

@media screen and (width<600px) {
    .inner{
        display: grid;
        grid-template-columns: 1fr;
        align-items: end;
        width: 60%;
        margin: auto;
    }
    .group{
        font-size: 30px;
        width: 15%;
        writing-mode: vertical-lr;
    }
}
@media screen and (width<1200px) and (width>=600px){
    .inner{
        display: grid;
        grid-template-columns: auto  auto;
        align-items: end;
        width: 90%;
        margin: auto;
    }
    .inner .twocols{
        display: grid;
        grid-template-columns: auto auto;
    }
    .group{
        font-size: 30px;
        width: 10%;
        writing-mode: vertical-lr;
    }
}
@media screen and (min-width: 1200px) {
    .inner{
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: end;
    }
    .inner .twocols{
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: end;
    }
    .group{
        width: 15%;
        font-size: 26px;
    }
}
table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 3% auto 3% auto;
    padding: 3%;
    background-color: var(--bg-table);
}

.inner *{
    width:95%;
    border-radius: 20px;
    margin: auto;
    padding: 1%;
}
.inner * div:hover{
    background-color: var(--bg-txt);
}
.main-group{
    font-size: 24px;
    padding: 1%;
    background-color: var(--bg-group);
    font-weight: bold;
}

#caption{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: var(--bg-caption);
    margin: 2%;
}
