table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 3% auto 3% auto;
    padding: 3%;
    background-color: var(--bg-main);
}
th{
    width: 35% ;
}
.inner{
    display: grid;
    grid-template-columns: auto auto;
}
.main-group{
    font-size: 22px;
    padding: 1%;
    background-color: var(--bg-darker);
    font-weight: bold;
}